Final Code for Timecamp automation

In [1]:
import pandas as pd
import numpy as np
import requests

Functions

In [2]:
from datetime import datetime
import datetime
import dateutil
from dateutil.parser import parser
from datetime import date
import calendar

month = 7

def get_dates(month):
    today = date.today()
    month_today = today.month

    if month > month_today:
    
        last_year = today.replace(year = today.year - 1, month = month, day=1)
        start_date = last_year

        num_of_days=calendar.monthrange(year = today.year - 1, month=month)[1]
        end_date = today.replace(year = today.year - 1, month = month, day=num_of_days)

    else:
        current_year = today.replace(month=month,day=1)
        start_date = current_year


        num_of_days=calendar.monthrange(year = today.year - 1, month=month)[1]
        end_date = today.replace(year = today.year, month = month, day=num_of_days)

    return start_date, end_date


start_date = get_dates(month=month)[0]
end_date = get_dates(month=month)[1]
working_days = np.busday_count(start_date, end_date)

print(f"Start date: {start_date}")
print(f"End date: {end_date}")
print(f"Working days in month: {working_days}")

Start date: 2024-07-01
End date: 2024-07-31
Working days in month: 22

In [3]:
def ids_to_string(df):

    columns = df.columns.to_list()
    for col in columns:
        if col == 'id' or col.endswith('_id'):
            df[col] = df[col].astype(str)

In [4]:
users_url = 'https://app.timecamp.com/third_party/api/users'

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 6fd0c4f6bd4f76dd9128105f8a"
}

users_response = requests.get(users_url, headers = headers)
# print(users_response.json())
# print(users_response.status_code)

In [5]:
all_users = pd.DataFrame.from_dict(users_response.json())

In [6]:
ids_to_string(all_users)

In [7]:
all_users.head()

,group_id,user_id,email,login_count,login_time,display_name,synch_time,register_time
0,619195,2023969,Alistair.Rattray@weconnect.tech,10,2024-06-27 12:21:49,Alistair Rattray,2023-02-23 12:28:48,2022-05-11 17:06:31
1,619195,2050172,amber.engert@weconnect.tech,572,2024-08-06 10:48:51,Amber Engert,1970-01-01 00:00:00,2022-08-09 16:07:37
2,619195,2433494,bruce.arnold@weconnect.tech,14,2024-08-17 07:29:17,Bruce Arnold,1970-01-01 01:00:00,2024-07-24 12:21:07
3,619195,1978702,damian.copeland@weconnect.tech,827,2024-05-09 11:05:36,Damian Copeland,2024-08-20 09:40:22,2022-01-26 13:44:03
4,619195,2176116,euan.brooms@weconnect.tech,183,2024-08-14 10:32:12,Euan Brooms,1970-01-01 00:00:00,2023-08-16 15:08:57

In [8]:
entries_url = f"https://app.timecamp.com/third_party/api/entries"

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 6fd0c4f6bd4f76dd9128105f8a"
}
params = {'from': start_date.strftime("%Y-%m-%d"), "to": end_date.strftime("%Y-%m-%d"), "include_project":True
    
}

entries_response = requests.get(entries_url, headers = headers, params=params)
# print(entries_response.json())
# print(entries_response.status_code)

In [9]:
entries = pd.DataFrame.from_dict(entries_response.json())

In [10]:
entries['task_id'] = entries['task_id'].astype(float)

In [11]:
entries['project_id'] = entries['project_id'].fillna(entries['task_id'])
entries['project_name'] = entries['project_name'].fillna(entries['name'])

In [12]:
ids_to_string(entries)

In [13]:
entries['project_id'] = entries['project_id'].str.strip('.0')
entries['task_id'] = entries['task_id'].str.strip('.0')

In [14]:
entries = entries[entries['task_id'] != '0']

In [15]:
entries['duration'] = entries['duration'].astype(float)
entries['duration'] = round(entries['duration'] / 3600, 2)

In [16]:
entries = entries.rename(columns={'project_name': 'root_task', 'project_id': 'root_task_id'})

In [17]:
groups_url = 'https://app.timecamp.com/third_party/api/group'

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 6fd0c4f6bd4f76dd9128105f8a"
}

groups_response = requests.get(groups_url, headers = headers)
# print(groups_response.json())
# print(groups_response.status_code)

In [18]:
all_groups = pd.DataFrame.from_dict(groups_response.json())

In [19]:
ids_to_string(df=all_groups)

Filter all_users with the unique user_ids list taken from entries

In [20]:
unique_userids = entries['user_id'].unique().tolist()

In [21]:
unique_users = all_users[all_users['user_id'].isin(unique_userids)]

In [22]:
current_users = unique_users.merge(all_groups,how='inner',on='group_id')

In [23]:
current_users

,group_id,user_id,email,login_count,login_time,display_name,synch_time,register_time,name,parent_id
0,619195,2025514,natalie.ricketts@weconnect.tech,339,2024-08-14 12:49:03,Natalie Ricketts,1970-01-01 00:00:00,2022-05-16 10:23:15,People,0
1,826174,2271069,Paballo.Mmamaro@weconnect.tech,313,2024-08-20 08:08:34,Paballo Mmamaro,1970-01-01 01:00:00,2024-03-22 08:57:56,SA Innovation,619195
2,619195,2044008,Pavithran.Venkatesan@weconnect.tech,50,2024-07-24 17:39:55,Pavithran Venkatesan,1970-01-01 00:00:00,2022-07-18 15:32:49,People,0
3,619195,2225925,Sabashni.Moodley@weconnect.tech,104,2024-08-20 10:24:19,Sabashni Moodley,1970-01-01 01:00:00,2023-11-28 16:57:38,People,0
4,619195,2008962,yanish.parmar@weconnect.tech,1647,2024-08-19 14:18:13,Yanish Parmar,1970-01-01 00:00:00,2022-04-04 10:13:37,People,0
...,...,...,...,...,...,...,...,...,...,...
145,826226,2243290,luyolo.dungelo@weconnect.tech,125,2024-08-20 09:34:12,Luyolo Dungelo,1970-01-01 01:00:00,2024-01-17 07:46:04,SA Zendesk,619195
146,826226,2268721,ntsako.masinge@weconnect.tech,314,2024-08-20 08:26:37,Ntsako Masinge,1970-01-01 01:00:00,2024-03-15 11:46:14,SA Zendesk,619195
147,826226,2268719,puseletso.masimong@weconnect.tech,196,2024-08-20 10:31:06,Puseletso Masimong,1970-01-01 01:00:00,2024-03-15 11:46:07,SA Zendesk,619195
148,826226,2268718,suney.swart@weconnect.tech,219,2024-08-20 08:33:24,Suney Swart,1970-01-01 01:00:00,2024-03-15 11:46:04,SA Zendesk,619195
149,706529,2028744,laura.culliton@weconnect.tech,1434,2024-08-20 09:37:32,Laura Culliton,1970-01-01 00:00:00,2022-05-25 16:41:17,Service Design,619195

Merge all_groups with entries using user_id

In [24]:
entries_current_users = current_users.merge(entries,how='inner',on='user_id')

In [25]:
entries_current_users.head()

,group_id,user_id,email,login_count,login_time,display_name,synch_time,register_time,name_x,parent_id,...,end_time,locked,name_y,addons_external_id,billable,invoiceId,color,description,root_task_id,root_task
0,619195,2025514,natalie.ricketts@weconnect.tech,339,2024-08-14 12:49:03,Natalie Ricketts,1970-01-01 00:00:00,2022-05-16 10:23:15,People,0,...,11:12:00,0,Transition,,1,0,#725E5E,,123107885,Service Design - Internal Tasks
1,619195,2025514,natalie.ricketts@weconnect.tech,339,2024-08-14 12:49:03,Natalie Ricketts,1970-01-01 00:00:00,2022-05-16 10:23:15,People,0,...,18:13:00,0,Document Creation - Service Design,,1,0,#4B5A74,,123107885,Service Design - Internal Tasks
2,619195,2025514,natalie.ricketts@weconnect.tech,339,2024-08-14 12:49:03,Natalie Ricketts,1970-01-01 00:00:00,2022-05-16 10:23:15,People,0,...,14:01:00,0,Document Creation - Service Design,,1,0,#4B5A74,,123107885,Service Design - Internal Tasks
3,619195,2025514,natalie.ricketts@weconnect.tech,339,2024-08-14 12:49:03,Natalie Ricketts,1970-01-01 00:00:00,2022-05-16 10:23:15,People,0,...,17:29:00,0,Document Creation - Service Design,,1,0,#4B5A74,,123107885,Service Design - Internal Tasks
4,619195,2025514,natalie.ricketts@weconnect.tech,339,2024-08-14 12:49:03,Natalie Ricketts,1970-01-01 00:00:00,2022-05-16 10:23:15,People,0,...,19:29:00,0,Service Design - Internal Tasks,,1,0,#388EF8,,123107885,Service Design - Internal Tasks

In [26]:
unique_task_ids = entries['task_id'].unique().tolist()

In [27]:
tasks_url = f'https://app.timecamp.com/third_party/api/task_details?tasks={','.join([str(x) for x in unique_task_ids])}'  

headers = {
    "Accept": "application/json",
    "Authorization": "Bearer 6fd0c4f6bd4f76dd9128105f8a"
}

tasks_response = requests.get(tasks_url, headers = headers)
# print(tasks_response.json())
# print(tasks_response.status_code)

In [28]:
all_tasks = pd.DataFrame.from_dict(tasks_response.json())

In [29]:
ids_to_string(all_tasks)

In [30]:
def recursive(group_id):
    parent_id = all_groups[all_groups['group_id']==group_id]['parent_id'].iloc[0]
    group_name = all_groups[all_groups['group_id']==group_id]['name'].iloc[0]

    if parent_id == '0':
        return [group_name] 
    else:
        return recursive(parent_id) + [group_name]
    

def get_root_groups(group_id):
    group_list = recursive(group_id)

    if len(group_list) == 1:
        root_group = group_list[0]
        sub_group = None
    
    elif len(group_list) == 2:
        root_group = group_list[1]
        sub_group = None
    
    else: 
        root_group = group_list[1]
        sub_group = group_list[2]

    return sub_group, root_group

In [31]:
current_users['sub_group'], current_users['root_group'] = zip(*current_users['group_id'].apply(get_root_groups))

In [32]:
entries_with_groups =  pd.merge(entries,current_users[['user_id','root_group','sub_group']],on='user_id', how='left')

In [33]:
import pandas as pd
from openpyxl import load_workbook
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.utils import column_index_from_string
from pathlib import Path
 
class Summary:
    def __init__(self, relevant_entries, tab_name):
        self.relevant_entries = relevant_entries
        self.tab_name = tab_name
        self.summary = self.__get_summary()
        self.head_count = self.__get_head_count()
        
 
    def __get_summary(self):
        summary = self.relevant_entries.pivot_table(index='root_task', columns='user_id', values='duration', aggfunc='sum', fill_value=0)
        user_names = self.relevant_entries[['user_id', 'user_name']].drop_duplicates().set_index('user_id')
        user_names['user_name'] = user_names.groupby('user_name').cumcount().add(1).astype(str).str.replace('1', '').radd(user_names['user_name'])
        summary.columns = summary.columns.to_series().map(user_names['user_name'])
       
        summary = summary.reindex(sorted(summary.columns), axis=1)
 
        summary['Total'] = summary.sum(axis=1)
        summary.loc['Total'] = summary.sum(numeric_only=True)
       
        summary = summary.reset_index()
                 


        return summary
 
    def __get_head_count(self):
        return self.relevant_entries['user_id'].nunique()
   
    def to_excel(self, report_name, version, top_left_coord='E1'):
       
        report_path = f'./res/{start_date.strftime("%B")} {report_name} {version}.xlsx'
        if Path(report_path).is_file():
            # Load the existing Excel workbook
            workbook = load_workbook(report_path)
            working_path = report_path
        else:
            # Use template file to create new workbook
            workbook = load_workbook(f'./res/templates/{report_name}_template.xlsx')
            working_path = f'./res/templates/{report_name}_template.xlsx'
       
        if self.tab_name in workbook.sheetnames:
            sheet = workbook[self.tab_name]
        else:
            raise NameError(f"No tab name '{self.tab_name}' found in {working_path}")
       
        # Determine the starting row and column from the top-left coordinate
        start_row = int(''.join(filter(str.isdigit, top_left_coord)))
        start_col = ''.join(filter(str.isalpha, top_left_coord))
       
        # Convert column letter to number
        col_number = column_index_from_string(start_col)

        # Clear previous table
        for row in range(start_row, sheet.max_row + 1):
            for col in range(col_number, sheet.max_column + 1):
                sheet.cell(row=row, column=col).value = None
 
        # Paste DataFrame values into the specified Excel location
        for r_idx, row in enumerate(dataframe_to_rows(self.summary, index=False, header=True), start=start_row):
            for c_idx, value in enumerate(row, start=col_number):
                sheet.cell(row=r_idx, column=c_idx, value=value)
       
        # Paste head count
        sheet.cell(row=22, column=column_index_from_string('B'), value=self.head_count)
 
        # Save the workbook with the updates
        workbook.save(report_path)
        workbook.close()
       
class Summary_Root_Sub(Summary):
    def __init__(self, all_entries, tab_name, root_group, sub_group = None):
        relevant_entries = all_entries[all_entries['root_group'] == root_group]
        if sub_group:
            relevant_entries = relevant_entries[relevant_entries['sub_group'] == sub_group]
        super().__init__(relevant_entries, tab_name)
        
ps_summary_list = [Summary_Root_Sub(entries_with_groups,'AWS', 'Professional Services', 'Amazon Team'),
                   Summary_Root_Sub(entries_with_groups,'Convo', 'Professional Services', 'Conversational Team'),
                   Summary_Root_Sub(entries_with_groups,'ELAN', 'Professional Services', 'Enterprise LAN'),
                   Summary_Root_Sub(entries_with_groups,'Five9', 'Professional Services', 'Five9 Team'),
                   Summary_Root_Sub(entries_with_groups,'Genesys', 'Professional Services', 'Genesys Cloud Team'),
                   Summary_Root_Sub(entries_with_groups,'SNow', 'Professional Services', 'SNOW/WFO Team'),
                   Summary_Root_Sub(entries_with_groups,'UC', 'Professional Services', 'UC Team'),
                   Summary_Root_Sub(entries_with_groups,'PMO', 'Project Managers')]


overall_entries = pd.concat([summary.relevant_entries for summary in ps_summary_list])
overall_summary = Summary(overall_entries, 'Overall')

ps_summary_list.append(overall_summary)

In [34]:
for summary in ps_summary_list:
    summary.to_excel('PS Board Report', 'v0.1')